# PyCity Schools Analysis

- Your analysis here
  
---

In [54]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [55]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [56]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [57]:
# Calculate the total budget
total_budget = school_data.drop_duplicates(subset=["budget"])["budget"].sum()
total_budget

24649428

In [58]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [59]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [60]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = len(school_data_complete.loc[school_data_complete["math_score"] >= 70]["student_name"])
passing_math_percentage = float(passing_math_count / student_count * 100)
passing_math_percentage

74.9808526933878

In [61]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70]["student_name"])
passing_reading_percentage = float(passing_reading_count / student_count * 100)
passing_reading_percentage

85.80546336482001

In [62]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [63]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":school_count, 
                                 "Total Students":student_count,
                                "Total Budget":total_budget, 
                                 "Average Math Score":average_math_score,
                                "Average Reading Score":average_reading_score, 
                                "Percent Passed Math":passing_math_percentage,
                                "Percent Passed Reading":passing_reading_percentage,
                                "Overall Passing Rate":overall_passing_rate}, index=[0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passed Math,Percent Passed Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [64]:
# Groupby School Name
school_group_df = school_data_complete.set_index("school_name").groupby(["school_name"])

In [65]:
# Use the code provided to select the type per school from school_data
school_types = school_data_complete.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [66]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [67]:
# Total School Budget
total_school_budget = school_data_complete.set_index("school_name")['budget']
total_school_budget

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [68]:
# Per Student Budget
student_budget = total_school_budget / per_school_counts
student_budget

school_name
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
                      ...
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Length: 39170, dtype: float64

In [69]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [70]:
# Calculate the total school budget and per capita spending per school
#per_school_capita = per_school_budget/per_school_counts
per_school_capita = school_data_complete.set_index("school_name")["budget"] / school_data_complete.groupby("school_name")["Student ID"].count()
per_school_capita

school_name
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
                      ...
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Length: 39170, dtype: float64

In [71]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_group_df["math_score"].mean()

per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [72]:
# average reading score per school
per_school_reading = school_group_df["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [73]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['math_score'].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [74]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['reading_score'].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [75]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [76]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/per_school_counts *100
per_school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby('school_name')["Student ID"].count()/per_school_counts *100
overall_passing_rate = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count()/per_school_counts *100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [77]:
# GroupBy object to calculate statistics for each school
groupby_school = school_data_complete.groupby(["school_name", "type"])

# Create an empty DataFrame to store results
per_school_summary_df = pd.DataFrame()

# School Type
per_school_summary_df['School Type'] = groupby_school['type'].first()

# Number of Students
per_school_summary_df['Number of Students'] = groupby_school['Student ID'].count()

# Total School Budget
per_school_summary_df['School Budget'] = groupby_school['budget'].first()

# Per Student Budget
per_school_summary_df['Per Student Budget'] = per_school_summary_df['School Budget'] / per_school_summary_df['Number of Students']

# Average Math Score
per_school_summary_df['Average Math Score'] = groupby_school['math_score'].mean()

# Average Reading Score
per_school_summary_df['Average Reading Score'] = groupby_school['reading_score'].mean()

# % Passing Math
per_school_summary_df['% Passing Math'] = groupby_school.apply(lambda x: (x['math_score'] >= 70).mean()) * 100

# % Passing Reading
per_school_summary_df['% Passing Reading'] = groupby_school.apply(lambda x: (x['reading_score'] >= 70).mean()) * 100

# Overall Passing Rate
per_school_summary_df['Overall Pass Rate'] = (per_school_summary_df['% Passing Math'] + per_school_summary_df['% Passing Reading']) / 2

# Reset index and set school_name as index
per_school_summary_df.reset_index(inplace=True)
per_school_summary_df.set_index('school_name', inplace=True)



# Reorder columns
per_school_summary_df = per_school_summary_df[['School Type', 'Number of Students', 'School Budget', 
                                               'Per Student Budget', 'Average Math Score', 'Average Reading Score',
                                               '% Passing Math', '% Passing Reading', 'Overall Pass Rate']]

per_school_summary_df.index.name = None

# Formatting
per_school_summary_df["School Budget"] = per_school_summary_df["School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

,School Type,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

## Highest-Performing Schools (by % Overall Passing)

In [78]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.sort_values(["Overall Pass Rate"], ascending=False)
top_schools.head(5)

,School Type,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

In [79]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary_df.sort_values(["Overall Pass Rate"], ascending=True)
bottom_schools.head(5)

,School Type,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

In [80]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete.loc[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete.loc[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete.loc[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete.loc[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [81]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete.loc[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete.loc[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete.loc[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

In [82]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [83]:
# Create a copy of the school summary since it has the "Per Student Budget"
#school_spending_df = per_school_summary_df.copy()
#school_spending_df.head(2)

In [84]:
print(school_spending_df.columns)

Index(['School Type', 'Number of Students', 'School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', 'Overall Pass Rate'],
      dtype='object')

In [85]:
school_spending_df.columns = school_spending_df.columns.str.strip()

In [88]:
# Use `pd.cut` to categorize spending based on the bins.
#school_spending_df["Spending Ranges (Per Student)"] = pd.cut(spending_bins, labels=labels, right=False)
#school_spending_df
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins = spending_bins, labels = labels, right = False)
school_spending_df

ValueError: cannot reindex on an axis with duplicate labels

In [32]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

KeyError: 'Spending Ranges (Per Student)'

In [47]:
# Assemble into DataFrame
spending_summary = pd.DataFrame()
                          "Average Math Score": spending_math_scores,
                            "Average Reading Score": spending_reading_scores,
                            "% Passing Math": spending_passing_math,
                            "% Passing Reading": spending_passing_reading,
                            "% Overall Passing": overall_passing_spending
})
# Display results
spending_summary

IndentationError: unexpected indent (838590572.py, line 3)

## Scores by School Size

In [48]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [90]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins = size_bins, labels=labels)
per_school_summary

NameError: name 'per_school_summary' is not defined

In [52]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [53]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score" : size_reading_scores,
    "% Passing Math" : size_passing_math,
    "% Passing Reading" : size_passing_reading,
    "% Overall Passing" : size_overall_passing})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [53]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [56]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score" : average_math_score_by_type,
    "Average Reading Score" : average_reading_score_by_type,
    " % Passing Math" : average_percent_passing_math_by_type,
    "% Passing Reading" : average_percent_passing_reading_by_type,
    "% Overall Passing" : average_percent_overall_passing_by_type})


# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined